# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Files and directories created by dart_frog
build/
.dart_frog

# Code Generation
*.g.dart
*.freezed.dart

# Test related files
coverage/

# Miscellaneous
.DS_Store
*.env

# VS Code 
.vscode/
